#posts-index img {
  width: 200px;
  height: 160px;
}


html {
  scroll-behavior: smooth;
}

body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}

#root {
  background-color: #191919;
  /* background-image: url('./assets/5-dots.webp'); */
  color: rgb(201, 201, 201);
}

